<div class="container">
    <div class="row">
        <form id="searchForm" class="form-horizontal span24">
            <div class="row">
                <div class="control-group span8">
                    <label class="control-label">编号：</label>
                    <div class="controls">
                        <input type="text" class="control-text" name="id">
                    </div>
                </div>
                <div class="control-group span8">
                    <label class="control-label">域名：</label>
                    <div class="controls">
                        <input type="text" class="control-text" name="domainName">
                    </div>
                </div>
                <div class="span3 offset3">
                    <button  type="button" id="btnSearch" class="button button-primary">搜索</button>
                </div>
            </div>
        </form>
    </div>
    <div class="search-grid-container">
        <div id="grid"></div>
    </div>

</div>
<div id="content" class="hide">
    <form id="J_Form" class="form-horizontal" action="/resource/json/editQQ.do?a=1">
        <input type="hidden" name="a" value="3">

        <div class="row">
            <div class="control-group span12">
                <label class="control-label"><s>*</s>域名</label>
                <div class="controls">
                    <input name="qq" type="grade" data-rules="{required:true}" class="input-normal control-text" placeholder="如：www.aipa.me">
                </div>
            </div>

        </div>
        <div class="row">
            <div class="control-group span12">
                <label class="control-label"><s>*</s>首页URL</label>
                <div class="controls">
                    <input name="password" type="text" data-rules="{required:true}" class="input-large control-text" placeholder="如：http://www.aipa.me/index.html">
                </div>
            </div>

        </div>

        <div class="row control-row4">
            <div class="control-group span12">
                <label class="control-label"><s>*</s>列表页正则</label>
                <div class="controls">
                    <textarea name="list_regex" data-rules="{required:true}" class="input-large" placeholder="用于获取列首页中的列表页URL"></textarea>

                </div>
            </div>
        </div>

        <div class="row control-row4">
            <div class="control-group span12">
                <label class="control-label"><s>*</s>详情页正则</label>
                <div class="controls">
                    <textarea name="detail_regex" data-rules="{required:true}" class="input-large" placeholder="用于获取详情页面中的IP"></textarea>

                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="../assets/js/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="../assets/js/bui.js"></script>
<!--
 <script type="text/javascript" src="http://localhost/works/bui/assets/js/build/seed-min.js"></script>
-->
<script type="text/javascript" src="../assets/js/config-min.js"></script>
<script type="text/javascript">
    BUI.use('common/page');
</script>

<script type="text/javascript">
BUI.use('common/search',function (Search) {

    var enumObj = {"1":"男","0":"女"},
            editing = new BUI.Grid.Plugins.DialogEditing({
                contentId : 'content', //设置隐藏的Dialog内容
                triggerCls : 'btn-edit', //触发显示Dialog的样式
                editor : {
                    success : function(){ //点击确认的时候触发，可以进行异步提交
                        var editor = this,
                                record = editing.get('record'), // 获取编辑的记录
                                data = editor.getValue(); //编辑完成的记录
                        editor.valid();
                        if(editor.isValid()){
                            submit(BUI.mix(record,data),editor);
                        }
                        /*var form = $('#J_Form'); //也可以直接使用表单同步提交的方式
                        form.submit();
                        */
                    }
                }
            }),
            columns = [
                {
                    title:'编号',
                    dataIndex:'id',
                    width:80,
                    renderer:function(v){
                        return Search.createLink({
                            id : 'detail' + v,
                            title : 'QQ号',
                            text : v,
                            href : 'resource/qqInfo.html'
                        });
                    }
                },
                {title:'网站名称',dataIndex:'siteName',width:100},
                {title:'网站域名',dataIndex:'siteUrl',width:180},
                /*{title:'学生姓名',dataIndex:'name',width:100},
                {title:'生日',dataIndex:'birthday',width:100,renderer:BUI.Grid.Format.dateRenderer},
                {title:'学生性别',dataIndex:'sex',width:60,renderer:BUI.Grid.Format.enumRenderer(enumObj)},
                {title:'学生班级',dataIndex:'grade',width:100},
                {title:'学生家庭住址',dataIndex:'address',width:300},*/
                {title:'网站首页',dataIndex:'siteIndex',width:300, render:function(v){
                    return Search.createLink({
                        href : 'http://www.aipa.me'
                    });
                }},
                {title:'操作',dataIndex:'',width:200,renderer : function(value,obj){
                    var editStr =  Search.createLink({ //链接使用 此方式
                                id : 'edit' + obj.id,
                                title : '编辑QQ号',
                                text : '打开编辑',
                                href : 'form/example.html'
                            }),
                            editStr1 = '<span class="grid-command btn-edit" title="编辑">编辑</span>',
                            delStr = '<span class="grid-command btn-del" title="删除">删除</span>';//页面操作不需要使用Search.createLink
                    /*return editStr +  editStr1 + delStr;*/
                    return editStr1 + delStr;
                }}
            ],
            store = Search.createStore('/resource/json/qq/getQQ.json'),
            gridCfg = Search.createGridCfg(columns,{
                tbar : {
                    items : [
                        /*{text : '<i class="icon-plus"></i>批量新建',btnCls : 'button button-small',handler:addBatchFunction},*/
                        {text : '<i class="icon-plus"></i>新建',btnCls : 'button button-small',handler:addFunction},
                        /*{text : '<i class="icon-edit"></i>编辑',btnCls : 'button button-small',handler:function(){alert('编辑');}},*/
                        {text : '<i class="icon-remove"></i>删除',btnCls : 'button button-small',handler : delFunction}
                    ]
                },
                plugins : [editing,BUI.Grid.Plugins.CheckSelection] // 插件形式引入多选表格
            });

    var  search = new Search({
                store : store,
                gridCfg : gridCfg
            }),
            grid = search.get('grid');

    function addFunction(){
        var newData = {isNew : true}; //标志是新增加的记录
        /*store.addAt(newData,0);*/
        editing.edit(newData,'name'); //添加记录后，直接编辑
    }

    function submit(record,editor){
        $.ajax({
            url : '/resource/json/qq/editQQ.json',
            dataType : 'json',
            data : record,
            success : function(data){
                if(data.success){ //编辑、新建成功
                    editor.accept(); //隐藏弹出框
                    alert('b');
                    search.load();
                    alert('c')
                }else{ //编辑失败失败
                    var msg = data.msg;
                    BUI.Message.Alert('错误原因:' + msg);
                }
            }
        });
    }

    //删除操作
    function delFunction(){
        var selections = grid.getSelection();
        delItems(selections);
    }

    function delItems(items){
        /*var ids = [];
        BUI.each(items,function(item){
            ids.push(item.id);
        });*/
        var qq_list = [];
        BUI.each(items,function(item){
            qq_list.push(item.qq);
        });

        if(qq_list.length){
            BUI.Message.Confirm('确认要删除选中的QQ么？',function(){
                $.ajax({
                    // /resource/json/qq/delQQ.json
                    url : '/resource/json/qq/delQQ.json',
                    dataType : 'json',
                    data : {"qqNumber" : qq_list.toString()},
                    success : function(data){
                        if(data.success){ //删除成功
                            search.load();
                        }else{ //删除失败
                            BUI.Message.Alert('删除失败！');
                        }
                    }
                });
            },'question');
        }
    }

    //监听事件，删除一条记录
    grid.on('cellclick',function(ev){
        var sender = $(ev.domTarget); //点击的Dom
        if(sender.hasClass('btn-del')){
            var record = ev.record;
            delItems([record]);
        }
    });
});
</script>
